INFLUX_URL=http://influxdb:8086
INFLUX_USER=admin
INFLUX_PASSWORD=change-me-please
INFLUX_ORG=nms
INFLUX_BUCKET=metrics
INFLUX_TOKEN=change-me-long-random-token

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

CHECK_INTERVAL=30
PING_COUNT=5
DOWN_AFTER_FAILS=3
UP_AFTER_OKS=2
